.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

.activeButton .btn{
    background-color: orange;
}
#nextButton .btn{
  color: #fff;
  background-color: #379a6d;
  border-color: #379a6d;
  padding: 6px 12px;
  font-size: 14px; }
  
.completedButton .btn{
    background-color: green;
    color: white
}

.readyButton .btn{
    background-color: transparent;
}

.noPadding{
  padding: 0 0 0 0;
}

.darkbg{
  background-color: black;
}